body {
  background-image: url(./img/photo-1.jfif);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Dancing Script", cursive;
  margin: auto 6rem;
  min-width: 440px;
}
.header {
  height: 250px;
}
.button {
  width: 5rem !important;
  font-weight: 900;
  padding-left: 1.7rem;
  font-size: 2rem;
  background-color: rgb(64, 64, 64);
  color: white;
  transition: all 0.2s;
}
.button:hover {
  background-color: black;
}
.select-box {
  margin-top: 0.5rem;
}
.select {
  /* margin-top: -2rem; */
  width: 10rem;
  border-radius: 5px;
  height: 2rem;
}
p {
  font-size: 1.7rem;
  background-color: #f0ffffa5;
  color: darkblue;
  border-radius: 10px;
  padding-left: 1rem;
  position: relative;
  font-weight: 500;
  transition: all 0.5s;
}
span {
  margin-left: 1.5rem;
}
.fa-trash {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}
.fa-regular {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
}
.delete {
  transform: translateX(2rem);
  opacity: 0;
}
.complete span {
  text-decoration: line-through;
  opacity: 0.3;
}
