.header {
  background-color: orange;
}
.input {
  height: 2.5rem !important;
  border-radius: 5px;
  border: 2px solid white;
  padding-left: 1rem;
  font-size: 1.3rem;
}
#list {
  padding: 0;
  margin: 0;
}
#list ul {
  padding: 0 !important;
  margin: 0;
}
#list ul li {
  /* border: 2px solid black; */
  position: relative;
  height: 3rem;
  list-style: none;
  display: block;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-left: 2em;
  align-items: center;
}

#list ul li button {
  position: absolute;
  right: 1rem;
  border: none;
}
#list ul li:nth-child(odd) {
  background-color: #f2f2f2;
}
#list ul li:nth-child(even) {
  background-color: #d4d4d4;
}
